body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");

@import url("https://fonts.googleapis.com/css?family=Lato:700&display=swap");

@font-face {
  font-family: "UTM-Avo";
  src: url("./font/utm-avo.ttf");
  src: url("./font/utm-avo.ttf") format("truetype");
}

a {
  text-decoration: none;
}
